body{
    background-color: rgb(174, 194, 211);
}
h3{
    
 font-size: 30px;
    margin: 50px auto;
   color: #4CAF50;
    align-items: center;
    text-align: center;
    padding: 20px;

    
}

.calculator {
    max-width: 400px;
    margin: 50px auto;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: rgb(201, 221, 238);
}

#display {
    width: 93%;
    margin-bottom: 20px;
    padding: 15px;
    font-size: 24px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(206, 223, 238);;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

section footer{
    background:#111;
    color: #fff;
    display: block;
    opacity: 1;
    
    padding-top: 40px;
}



.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;

    border-radius: 50%;

}
.socials a i{
    font-size: 1.1rem;
    width: 20px;


    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    padding: 20px;
padding-bottom: 40px;
    text-align: center;

    display: flex;
    justify-content: center;
}
.footer-bottom p{
float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom p a{
  color:#44bae8;
  font-size: 16px;
  text-decoration: none;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

p{
    align-items: center;
    justify-content: center;
    text-align: center;
}