h3{
    
 font-size: 30px;
    margin: 50px auto;
   color: #4CAF50;
    align-items: center;
    text-align: center;
    padding: 20px;

    
}

.calculator {
    max-width: 400px;
    margin: 50px auto;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

#display {
    width: 93%;
    margin-bottom: 20px;
    padding: 15px;
    font-size: 24px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}
